*{
    margin: 5px;
    padding: 2px;
}
.rights{
    color: aqua;
    cursor: url("https://static.vecteezy.com/system/resources/previews/018/722/323/original/funny-cursor-with-eyes-on-transparent-background-free-png.png"),auto; 
}    

/* .container{
    display: flex; 
    justify-content: center;
}
.box{
    padding: 20px;
    background-color: red;
    width: 110px;
    width: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
    padding: 2px;
} */






















